# Xcode
#
# 忽略 Xcode 构建生成的文件和目录
.DS_Store
*/build/*
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace
Carthage/
.swiftpm/

# 忽略调试日志
*.log

# 忽略编译生成物
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
#
# 忽略 Swift 包管理器生成的文件
.build/
Packages/
Package.pins
Package.resolved

# 只忽略 Xcode 项目中的特定文件
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/contents.xcworkspacedata

# CocoaPods
#
# Pods 目录通常也应该被忽略
Pods/

# macOS 系统文件
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output 