<key>CFBundleIconFile</key>
<string>AppIcon</string>
<key>NSMicrophoneUsageDescription</key>
<string>Fluffel requires access to the microphone for voice analysis</string>
<key>NSSpeechRecognitionUsageDescription</key>
<string>Fluffel needs access to the microphone for voice analysis</string>
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>